@use "/src/public/styles/utils/colors.module" as colors;

#output_section {
  position: relative;

  width: clamp(20em, 20vw ,40em);
  height: 100vh;

  background-color: #fbfbfb;
  border-left: 1px solid colors.$gray;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  & > * { 
    flex-shrink: 0;
    flex-grow: 0;
  }

  .header {
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 1em;

    background-color: #fbfbfb;
    z-index: 10;

    .title {
      color: black;      
    }
  }

  @keyframes removing_result_line {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  .output_lines {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    overflow-x: hidden;
    
    .result_line {
      flex-shrink: 0;
      flex-grow: 0;

      width: 100%;
      min-height: 3em;
      height: fit-content;
  
      padding: 1em;
      
      display: flex;
      flex-direction: column;    
  
      &:nth-child(even) {
        background-color: #fbfbfb;
      }
  
      &:nth-child(odd) {
        background-color: #e3e3e3;
      }
  
      &.removing-animation {
        animation: removing_result_line .3s ease-in forwards;
      }
  
      &.error {
        pre {
          color: red
        }
      }
  
      .result_time {
        color: rgba(200,200,200, 1);
        font-weight: bolder;
      }
  
      .output_value {
        pre {
          white-space: pre-wrap;
        }
      }
    }
  }

  &.theme-dark {
    background-color: colors.$material_dark;
    border-left: 1px solid colors.$material_dark_lighter;

    .header {
      background-color: colors.$material_dark;
      border-bottom: 1px solid colors.$material_dark_lighter;

      .title {
        color: white;
      }
    }

    .result_line {
      color: white;

      &:nth-child(even) {
        background-color: rgb(70, 70, 70);
      }

      &:nth-child(odd) {
        background-color: rgb(50, 50, 50);
      }
    }
  }
}

@media(max-width: 720px) {
  #output_section {
    width: 100%;
    height: 30vh;
    border: none;
    border-top: 1px solid colors.$gray;

    .output_lines {
      width: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    &.theme-dark {
      border-top: 1px solid colors.$material_dark_lighter;
    }
  }
}
