@use "/src/public/styles/utils/colors.module" as colors;

@keyframes popupAnimation {
  from {
    transform: scale(1) translate(-50%, -45%);
    opacity: 0;
  } 
  
  to {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

.modal {
  $title_wrapper: 4em;

  animation: popupAnimation .10s ease-out forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  width: clamp(30em, 80vw, 40em);
  height: 80vh;

  overflow: hidden;

  border-radius: 1em;
  background: colors.$white;

  border: none;

  .close_screen_button {
    position: absolute;
    right: 1em;
    top: 1em;
    border-radius: 100%;
    background-color: transparent;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: center;
    border: none;

    width: 3em;
    height: 3em;
    
    cursor: pointer;
    
    span {
      color: colors.$black;
    }
  }

  .title-container {
    width: 100%;
    height: $title_wrapper;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5em;

    border-bottom: 1px solid rgba(0,0,0, .1);

    .title {
      font-size: 1rem;
      margin: 0 0 0 1em;
    }

  }

  .content-container {  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: start;
    height: calc(100% - $title_wrapper);

    & > * {
      flex-grow: 0;
      flex-shrink: 0;
    }
  }


  &.theme-dark {
    border: .2em solid colors.$black;
    background-color: colors.$material_dark;

    * {
      color: colors.$gray;
    }

    .title-container {
      border-bottom: 1px solid colors.$material_dark_lighter;

      .title {
        color: colors.$gray;
      }
    }
    
    .close_screen_button {
      span {
        color: colors.$gray;
      }
    }
  }
}