$gray: #d3d3d3;
$black: #333333;
$white: white;
$darkness: black;
$cta: #322653;
$purple: #7722e7;
$pink: #ff0069;

$material_light: #FAFAFA;
$material_dark: #2e3235;
$material_dark_lighter: rgb(77, 77, 77);
